<!DOCTYPE html>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="navbarcss mb-2" th:fragment="header">
    <nav class="navbar navbar-expand-sm">
        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarN">
            <i class="navbar-toggler-icon bg-dark"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarN">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/home}">Home</a>
                <a class="nav-link" th:href="@{/personenlijst}">Personen</a>
                <a class="nav-link" th:href="@{/hobbielijst}">Themas</a>
            </div>
        </div>
    </nav>
</div>
</body>
</html>