<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Apartment details</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<div th:if="${apartment}">
    <h2 th:text="${apartment.address}">apartment address</h2>
    <h2 th:text="${apartment.price}">apartment price</h2>
    <div>
        <div>Location: </div>
        <div th:text="${apartment.location}"></div>
    </div>

    <div>
        <div>Bathroom in apartment: </div>
        <div th:text="${apartment.bathroomPresent ? 'yes' : 'no'}"></div>
    </div>

    <div>
        <div>Kitchen in apartment: </div>
        <div th:text="${apartment.kitchenPresent ? 'yes' : 'no'}"></div>
    </div>


</div>

<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>