<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Studenten details</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<div th:if="${student}">
    <h2 th:text="${student.name}">studentDetails</h2>
    <div>
        <div>name: </div>
        <div th:text="${student.name}"></div>
    </div>

    <div>
        <div>street: </div>
        <div th:text="${student.street}"></div>
    </div>

    <div>
        <div>town: </div>
        <div th:text="${student.town}"></div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>